<app-nav-bar></app-nav-bar>
<!-- Structural Directive - recommended approach -->
<div class="container" *transloco="let t">
  <h1>{{ t('welcome') }}</h1>

  <!-- Pipe - -->
  <!-- <h1>{{ 'pipe-welcome' | transloco }}</h1> -->

  <!-- Attribute Directive -  -->
  <!-- <h1 transloco="attribute-welcome"></h1> -->

  <div>{{ clickMessage }}</div>
  <div>
    <button mat-raised-button color="primary"
      (click)="increment()">{{ t('click') }}</button>
  </div>
  <div>
    <button mat-raised-button color="warn"
      (click)="error()">{{ t('do-not-click') }}</button>
  </div>
</div>
