<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span></span>
    <a mat-icon-button href="/" class="example-icon"
      aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </a>
    <span class="example-spacer"></span>
    <a mat-icon-button href="/counter" class="example-icon"
      aria-label="Example icon-button with mouse icon">
      <mat-icon>mouse</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
