<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span></span>
    <a mat-icon-button href="/" class="example-icon"
      aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </a>
    <span class="example-spacer"></span>
    <ng-container>
      <mat-icon>language</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu">
        {{siteLanguage}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngFor="let language of languageList" mat-menu-item
          (click)="changeSiteLanguage(language.code)">{{language.label}}</a>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
